body {
   background-color: #000;
   color: #fff;
}

h3 {
   font-size: 50px;
}

.items {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.item {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 6px;
   background-color: #000;
   width: 31%;
   height: 200px;
}

nav {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 40px;
   background-color: #000000;
}

nav ul {
   display: flex;
   /* justify-content: center;
	align-items: center; */
}

nav ul li {
   box-sizing: border-box;
   /* width: 20px; */
   height: 20px;
   margin: 20px;
   background-color: #fff;
   color: #000;
}

.something {
   background-color: green;
   height: 100vh;
}

.something a {
   font-size: 30px;
   color: red;
}

.something_2 {
   display: flex;
}